@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,latin-ext);

@font-face {
 font-family:"Hobo";
 src:url('../fonts/hobon.ttf') format('truetype');
 font-style:normal;
 font-weight:500;
}

html {
}

body {
 /*padding-top:4em;*/
 background-color:#333;
 background-image:url('../images/page-bg-texture.png');
 font-family:Roboto,Tahoma,Verdana;
 font-size:14px;
 font-weight:300;
 letter-spacing:0.01em;
}
body.logged-in { 
 /*padding-top:30.5px !important;*/
}

a:link, a:visited {
 color:#01549e;
 text-decoration:none;
}
a:hover, a:active {
 color:#4970b1;
 text-decoration:underline;
}

dd {
 margin-left:0.5em;
 margin-bottom:1em;
}

h1, h2, h3, h4 {
 margin-top:12px;
 color:#01549e;
 font-family:Optima,Tahoma,Verdana;
 font-weight:600;
}

h1 {
 font-size:28px;
 font-weight:700;
 letter-spacing:0.05em;
}
@media (max-width:480px) {
 h1 { font-size:2em; }
}
h2 {
 font-size:22px;
 letter-spacing:0.025em;
 }

h3 {
 font-size:18px;
}

h4 {
background: linear-gradient(270deg, rgb(136, 136, 136), transparent) repeat scroll 0% 0%;
color: rgb(128, 128, 140);
text-shadow: 2px 2px 0px rgb(255, 255, 255);
padding: 4px 0px 2px 6px;
font-weight: 600;
letter-spacing: 0.1em;
}

@media (max-width:480px) {
 p { font-size:1.1em; }
}

tbody {
 border-top:none;
}
th {
 border-bottom:none;
}

tr.odd,
tr.odd td {
 background-color:#fff;
}
tr.even,
tr.even td {
 background-color:#edede0;
}

@media (max-width:766px) {
 .container,
 .container-fluid,
 .container > .navbar-header {
  margin:0 !important;
  padding:0 0 0 0 !important;
 }
}

.sr-only,
.no-css {
 display:none;
}

#page-wrapper {
 max-width:1024px;
 overflow:hidden;
 margin:auto;
 background-color:#fff;
 background-image:linear-gradient(0deg,#ccc 25%, #fff 50%);
 box-shadow:0 0 12px #000;
}
@media (max-width:959px) {
 #page-wrapper {
  margin-bottom:2em !important;
 }
}

#header {
 text-align:right;
}
#header a {
 color:#01549e;
 text-decoration:none;
}

#header * {
 vertical-align:middle;
}

#header .himg.waves {
 filter:drop-shadow(0 0 4px #b68f28);
 -webkit-filter:drop-shadow(0 0 4px #b68f28);
}

.header-text {
 display:inline-block;
 margin:0 1em;
 text-align:left;
}
.header-text .ht-top {
 font-family:Hobo,sans-serif;
 font-size:5.2vw;
 text-transform:uppercase;
}
.header-text .ht-bot {
 display:inline-block;
 color:#b68f28;
 font-size:2vw;
 font-weight:600;
}

#header-eye {
 transition:filter 3s linear, -webkit-filter 3s linear;
}
#header:hover #header-eye {
 filter: hue-rotate(-360deg);
 -webkit-filter: hue-rotate(-360deg);
 transition:filter 3s linear, -webkit-filter 3s linear;
}
@media (max-width:767px) {
 #header .himg,
 #header .header-text {
  float:left;
	margin-top:1.5vw;
	margin-bottom:1vw;
 }
 #header-eye {
  display:none;
 }
}
@media (max-width:959px) {
 #header .himg {
  height:8vw;
  width:auto;
 }
 #header-eye {
  height:14vw;
 }
}
@media (min-width:960px) {
 .header-text .ht-top {
  font-size:54px;
  line-height:60px;
 }
 .header-text .ht-bot {
  font-size:26px;
 }
}

#navbar {
 clear:both;
}

.navbar {
 position:static;
 margin-bottom:2px;
 color:#01549e;
 background-color:#fff;
 background-image:none !important;
 border:none;
 box-shadow:none;
}
.navbar a {
 color:#01549e !important;
 text-shadow:1px 1px 0 #fff !important;
 border-right:2px solid #eee;
 box-shadow:none !important;
}
.navbar a.active {
 background-color:#fff !important;
 background:none;
 background-image:none !important;
 font-weight:600;
}
.navbar li:hover {
 background-color:rgba(48,160,255,0.2) !important;
 transition:all 125ms ease;
}
.navbar button {
 background:linear-gradient(340deg,#eee,#fff);
}
.navbar button.collapsed {
 background:linear-gradient(340deg,#ccd,#fff);
}
.navbar button:hover {
 box-shadow:0 0 5px #cef;
}
.navbar button.navbar-toggle {
 z-index:999;
 left:4px;
}
.navbar-header {
 height:50px;
 margin-right:unset;
}
.navbar-brand {
 height:50px;
 line-height:48px;
 margin:0;
 padding:0;
 display:block;
 font-weight:bold;
}

@media (max-width:300px) {
 #navbar,
 .navbar {
 }
 .navbar-brand > img {
  display:none;
 }
 .navbar-brand:before {
  content:"Maxtron Products, Inc.";
  display:inline;
	font-size:0.8em;
	position:absolute;
 }
}
.navbar-collapse {
 padding:0;
 border-top:none;
 box-shadow:none;
}
.navbar-nav {
 margin:0;
}

@media (max-width:767px) {
 #navbar-list {
  background-image:linear-gradient(270deg, transparent 10%, #fff 50%), url('../images/logo-eye-blue.png');
	background-repeat:no-repeat;
	background-position:right;
 }
}

@media (max-width:640px) {
 .navbar ul {
  margin-bottom:1em;
 }
 .navbar ul li {
	font-size:22px;
	line-height:34px;
	background-color:rgba(255,255,255,0.9);
 }
}

@media (max-height:480px) and (max-width:480px) {
 .navbar ul li {
  display:inline;
  width:50%;
	float:left;
 }
}

@media (min-width:481px) and (max-width:768px) {
 #navbar {
	width:100%
  margin:0 auto;
 }
 .navbar-nav {
  margin:0;
	height:44px;
 }
 .navbar ul li {
	float:left;
	height:100%;
  font-size:18px;
	line-height:24px;
 }
}

#page-title {
 margin:0px 0 -7px;
 text-align:left;
 text-shadow:2px 2px 0 rgba(255,255,255,0.4);
}

#sidebar-first {
 margin:2em auto 1em;
}
#sidebar-first div.block {
 padding:0;
 margin:0 0 1em;
 border:1px solid #ddd;
 border-radius:3px;
 box-shadow:inset 1px 1px 3px #f0f0f0;
 background-color:#fff;
 background:linear-gradient(270deg,#f3f3f3,#fff);
}
#sidebar-first h2 {
 margin:0;
 padding:0.25em;
 color:#fff;
 background-color:#aaa;
 background:linear-gradient(90deg,#01549e,#97b4de);
 font-size:1.2em;
 text-shadow:1px 1px 0 #000;
}
#sidebar-first p {
 padding:0.25em;
}
#sidebar-first ul.menu {
 padding-left:0.5em;
}
#sidebar-first div.content > ul.menu {
 margin:0.5em 1em;
}
#sidebar-first ul.menu li a.active {
 font-weight:bold;
}

@media (max-width:992px) {
 #sidebar-first {
  margin:0.5em auto 2em;
 }
 #sidebar-first div.block-menu ul.menu {
  /*text-align:center;*/
 }
 #sidebar-first div.block-menu ul.menu li {
  margin:0;
  padding:0.25em;
	font-size:16px;
 }
 #sidebar-first div.block-menu ul.menu li:after {
  /*content:" · ";*/
 }
 #sidebar-first div.block-menu ul.menu li:last-of-type:after {
  /*content:"";*/
 }
 #sidebar-first div.block {
  margin-bottom:0.5em;
 }
 #sidebar-first div.block.collapsed h2 {
  cursor:pointer;
 }
 #sidebar-first div.block.collapsed h2:before {
  content:"▸ ";
 }
 #sidebar-first div.block.collapsed div.content {
  display:none;
 }
 #sidebar-first div.block.expanded h2 {
  cursor:pointer;
 }
 #sidebar-first div.block.expanded h2:before {
  content:"▿ ";
 }
 #sidebar-first div.block.expanded div.content {
  display:block;
 }
}
@media (max-width:480px) {
 #sidebar-first ul.menu {
  margin:0;
	padding:0;
 }
 #sidebar-first h2 {
  font-size:24px;
 }
 #sidebar-first ul.menu ul.menu {
	border-top:1px dotted #ddd;
 }
 #sidebar-first div.block-menu ul.menu li {
  padding:8px 15px;
  display:block;
	font-size:20px;
  text-align:left;
	border-bottom:1px dotted #ddd;
 }
 #sidebar-first div.block-menu ul.menu li:last-of-type {
  border-bottom:none;
 }
 #sidebar-first div.block-menu ul.menu li:after {
  content:"";
 }
}

#breadcrumb {
 display:none;
}

#content div.region {
 padding:1em;
 background-color:#fff;
 background:linear-gradient(180deg,#eaeae0,#fff);
 border:1px solid #ccc;
 border-radius:3px;
 box-shadow:3px 3px 6px rgba(0,0,0,0.5);
}

#content img.pos-left {
 float: left;
 position: relative;
 left: -28px;
 top: -10px;
 margin-bottom:-5px;
}

.lead {
 font-size:18px;
 font-weight:200;
}

.flexslider {
 margin-bottom:38px;
}
.flexslider .slides iframe {
 width:100%;
 height:44vw;
 max-height:366px;
}
.flex-control-nav {
 bottom:-40px;
}
@media (max-width:768px) {
 .flexslider {
  margin-bottom:48px;
 }
 .flex-control-paging li a {
  width: 20px;
  height: 20px;
 }
}

div.feature {
 text-align:center;
}
div.feature h3 {
 color:#800;
 font-family:Impact,Verdana,sans-serif;
 text-shadow:2px 2px 2px #aaa;
}
div.feature img {
 max-width:200px;
}

div.region-footer {
 margin-top:1em;
 padding-top:1em;
 color:#555;
 text-align:center;
}
div.region-footer a {
 color:#01549e;
 text-shadow:1px 1px 0 #fff;
}
div.region-footer a:hover {
 text-decoration:underline;
}
div.region-footer a.active {
 text-decoration:none;
 font-weight:600;
}
div.region-footer ul.menu {
 margin:0;
 padding:0 0 0.5em 1.5em;
 text-align:center;
}
div.region-footer ul.menu li {
 padding:0;
 margin:0;
 display:inline;
}
div.region-footer ul.menu li:before {
 content:" · ";
}
div.region-footer ul.menu li:nth-of-type(1):before {
 content:"";
}
#copyright {
 padding:0 2em 1em;
 font-size:0.75em;
}
@media (max-width:480px) {
 div.region-footer a {
	padding:0.2em;
  font-size:1.4em;
 }
}

/*=== Admin ===*/
table.sticky-table {
 width:100%;
}
table.sticky-table th,
table.sticky-table td {
 padding:0.25em;
}
table.sticky-table li.edit a,
table.sticky-table li.delete a {
 display: inline-block;
 min-width: 50%;
 border:1px solid #ccc;
 border-radius: 5px;
 background-color: #fff;
 background-image: linear-gradient(#fff,#f3f3f3);
 text-align: center;
}
table.sticky-table .description {
 font-size:80%;
 font-family: Verdana;
 border-top: 1px dotted #ccc;
 padding-top: 0.5em;
}

ul.contextual-links {
 border:none !important;
 box-shadow:2px 2px 5px #aaa;
 background:linear-gradient(0deg,#ddd,#fff);
}
a.contextual-links-trigger {
 background-color:rgba(255,255,255,0.875);
 border:1px solid #ddd;
}

ul.tabs {
 padding:0;
 text-align:right;
 border-color:#eee;
 border:none;
 border-bottom:1px solid #eee;
}
.front ul.tabs {
 margin-bottom:0;
}
ul.tabs li a {
 margin:0;
 border-radius:5px 5px 0 0;
 border-color:#ccc;
 padding:0.25em 0.75em 1px;
 background-color:#ddd;
 background:linear-gradient(0deg,#ccc,#eee);
}
ul.tabs li a:hover {
 border-color:#bdf;
 text-decoration:underline;
}
ul.tabs li.active a {
 background:#fff;
}
ul.tabs.secondary li {
 padding:0;
 border:none;
}
ul.tabs.secondary li a {
 margin:0;
}
@media (max-width:480px) {
 ul.tabs {
  margin-bottom:1.5em;
 }
 ul.tabs, ul.tabs li, ul.tabs li a {
	display:block;
  width:98%;
	text-align:left;
 }
 .form-item input[type="password"],
 .form-item input[type="text"] {
  width:100%;
 }
}

div.vertical-tabs {
 background-color:#fff;
}
.vertical-tabs ul.vertical-tabs-list li {
 background-color:#eed;
 transition:all 500ms ease;
}
.vertical-tabs ul.vertical-tabs-list li.selected {
 background-color:#fff;
 transition:all 500ms ease;
}

ul.action-links {
 padding:1em;
 margin:0;
}
ul.action-links li {
 list-style-type:none;
 display:inline-block;
}
ul.action-links li a {
 padding:8px;
 border:1px solid #eee;
 border-radius:5px;
 background-color:#eee;
 background:linear-gradient(0deg,#ddd,#fff);
}
ul.action-links li a:hover {
 box-shadow:0 0 2px #def;
}

a.tabledrag-handle .handle {
 height:22px;
 width:22px;
}

#toolbar {
 z-index:9999;
 height:2.5em;
 overflow:hidden;
 box-shadow:none;
}
#toolbar-menu {
 float:none;
}

.exposed-filters .form-item label {
 float:none;
 text-align:right;
 font-weight:bold;
}

#user-login,
#user-profile-form,
#user-register-form {
 padding:1em;
 background-color:#f6f6f6;
 border:1px solid #eee;
 border-radius:8px;
}
#user-login label,
#user-profile-form label,
#user-register-form label {
 min-width:8em;
 text-align:right;
}
#user-login .description,
#user-profile-form .description,
#user-register-form .description {
 padding:2px;
 color:#888;
}
#user-register-form .form-type-checkbox {
 padding:2px;
 border-bottom:1px dotted #ddd;
}
#user-register-form .form-type-checkbox label {
 width:100%;
}
#edit-field-opt-out-und {
 float:left;
 margin-right:1em;
}

.node-forum .submitted {
 padding:2px;
 color:#555;
 background-color:#eee;
 font-family:Georgia,"Times New Roman",serif;
 text-align:right;
}
.node-forum .field-name-body,
.node-forum .field-name-comment-body {
 padding:1em;
 font-size:1.2em;
}
.node-forum #comments {
 margin-top:2.5em;
}
.node-forum #comments h2 {
 margin:1em 0 0;
 padding:0.25em;
 background-color:#eee;
 font-size:1.25em;
}
.node-forum #comment-form {
 background-color:#f6f6f6;
}
.node-forum #comment-form {
 padding:0.25em 1em;
}
.node-forum .field-type-taxonomy-term-reference {
 font-size:0.5em;
 background-color:#f3f3f3;
 text-align:center;
}
.node-forum ul.links {
 display:block;
 margin-top:10px;
 text-align:center;
}
.node-forum ul.links li {
 padding:0;
}
.node-forum ul.links a {
 padding:7px;
 border:1px solid #eee;
 border-radius:7px;
 background:linear-gradient(0deg,#ddd,#fff);
}
.node-forum .statistics_counter {
 color:#777;
 font-size:0.8em;
}

#forum table {
 width:100%;
}
#forum td {
 border-right:1px solid #fff;
}
#forum td.container {
 background-color:#dde;
 font-size:1.25em;
 text-shadow:1px 1px 0 #fff;
}
#forum td.title {
 padding:0.25em;
}
#forum td.replies,
#forum td.topics,
#forum td.posts {
 text-align:center;
}
#forum td.last-reply {
 padding-left:1em;
}

a.permalink {
 display:none;
}
div.comment {
 margin-top:1em;
 padding-top:0.5em;
 border:2px dashed #ddd;
 border-top:1px solid #ddf;
 border-right:none;
}
div.comment h3 {
 margin-top:0;
 padding-left:0.25em;
}
div.comment h3 a.permalink {
 display:block;
 padding-top:0;
 font-size:0.85em;
}
div.indented .comment {
 margin-top:0em;
 border-top:none !important;
}
div.comment .new {
 float:left;
 display:inline-block;
 margin:0 0.5em;
 padding:0 3px;
 color:#444;
 background-color:#ffc;
 border-radius:30%;
 box-shadow:1px 1px 2px #aaa;
 font-style:italic;
}

div.profile {
 padding:1em 0;
}
div.profile .field {
 margin-bottom:1em;
}

.block-forum .item-list {
 margin-top:0.5em;
}
.block-forum .item-list li {
 list-style-image:url("/misc/menu-leaf.png");
}
div.more-link a {
 padding:5px;
}
div.more-link a:after {
 content:" »";
}

.ui-dialog {
 box-shadow:0 0 3px 3px #222;
 color:#000;
 background-color:#ddd;
 background:linear-gradient(320deg,#ccc,#eee);
}
.ui-dialog-titlebar {
 color:#fff;
 background-color:#037;
 text-shadow:1px 1px 0 #000;
}
button.ui-dialog-titlebar-close span.glyphicon {
 display:inline-block;
 top:0;
 left:-4px;
 color:#037;
 text-align:center;
 text-shadow:1px 1px 0 #fff;
}

#edit-body-und-0-value {
 font-family:Consolas,"Lucida Console",monospace;
 font-size:10pt;
}

.accordion h3 {
 color:#01549e;
 background-color:#ddd;
 font-family:Verdana,sans-serif;
}
.accordion h3.ui-state-active {
 color:#fff;
 background-color:#4970b1;
 border-color:#005eaa;
}

.ui-widget {
 font-family:Roboto,Tahoma,Verdana;
}

#block-node-recent table {
 width:100%;
}
#block-node-recent a.username {
 color:#999;
}

.mylivechat_inline {
 max-height:100vh !important;
}
.mylivechat_inline * {
 font-family:Roboto,Tahoma,sans-serif !important;
}
.mylivechat_inline > div {
 background-color:#4970b1 !important;
 box-shadow:0 0 7px rgba(0,0,0,0.5);
}
.mylivechat_poweredby {
 display:none !important;
}
@media (max-width:480px) {
 .mylivechat_inline {
  right:0 !important;
  left:0 !important;
 }
 .mylivechat_inline > div {
  width:100% !important;
 }
}

.ecwid-imgLoaded img,
.ecwid-productBrowser-productsList-thumbnail img {
 border:1px solid #eee !important;
 border-radius:2px;
 filter:drop-shadow(2px 2px 3px rgba(0,0,0,0.25)) !important;
}
.ecwid-categories-category {
 font-size:16px !important;
}
.ecwid-categories-vertical-table {
 width:100% !important;
}
